; #############  LADDER CHANGES AND FIXES  ############
; =====================================================
; ==             LADDER ADDITIONS / FIXES            ==
; ==              Add or change ladders              ==
; =====================================================
; --- Fix the sewer ladder ending slightly before the top of the hole, causing players to fall off near the top
modify:
{
	match:
	{
		"hammerid" "1043824"
	}
	insert:
	{
		"origin" "0 0 1"
	}
}
add:
; --- Infected ladder to get to the support columns at the start, and fast climb to get on the bridge
{
	"classname" "func_simpleladder"
	"origin" "9394 10937 -8"
	"angles" "0 180 0"
	"model" "*372"
	"normal.x" "0.00"
	"normal.y" "-1.00"
	"normal.z" "0.00"
	"team" "2"
}
; --- Infected ladder behind the fence at the start in the open area
{
	"classname" "func_simpleladder"
	"origin" "8857 9854 -16"
	"angles" "0 180 0"
	"model" "*356"
	"normal.x" "-1.00"
	"normal.y" "0.00"
	"normal.z" "0.00"
	"team" "2"
}
; --- Infected ladder to get on the house behind the trailer
{
	"classname" "func_simpleladder"
	"origin" "-283 -2397 -76"
	"angles" "0 0 0"
	"model" "*5"
	"normal.x" "0.00"
	"normal.y" "-1.00"
	"normal.z" "0.00"
	"team" "2"
}
; --- Infected ladders to climb over the fences around the sewer drop
{
	"classname" "func_simpleladder"
	"origin" "-4096 6611 -21"
	"angles" "0 270 0"
	"model" "*363"
	"normal.x" "-1.00"
	"normal.y" "0.00"
	"normal.z" "0.00"
	"team" "2"
}
{
	"classname" "func_simpleladder"
	"origin" "-369 -1649 6"
	"angles" "0 0 0"
	"model" "*374"
	"normal.x" "1.00"
	"normal.y" "0.00"
	"normal.z" "0.00"
	"team" "2"
}
