; #############  LADDER CHANGES AND FIXES  ############
; =====================================================
; ==             LADDER ADDITIONS / FIXES            ==
; ==              Add or change ladders              ==
; =====================================================
add:
; --- Infected ladder to get on the yellow building
{
	"classname" "func_simpleladder"
	"origin" "13724.5 2001 148.1"
	"angles" "0 90 0"
	"model" "*64"
	"normal.x" "1.00"
	"normal.y" "0.00"
	"normal.z" "0.00"
	"team" "2"
}
{
	"classname" "prop_dynamic"
	"origin" "6237 7879 6099"
	"angles" "0 90 0"
	"model" "models/props_rooftop/gutter_pipe_256.mdl"
	"solid" "0"
	"disableshadows" "1"
}
; --- Infected ladder to get on the military crate building
{
	"classname" "func_simpleladder"
	"origin" "15443.5 2824 148.1"
	"angles" "0 90 0"
	"model" "*70"
	"normal.x" "-1.00"
	"normal.y" "0.00"
	"normal.z" "0.00"
	"team" "2"
}
{
	"classname" "prop_dynamic"
	"origin" "5923 9243 6099"
	"angles" "0 270 0"
	"model" "models/props_rooftop/gutter_pipe_256.mdl"
	"solid" "0"
	"disableshadows" "1"
}
; --- Infected ladder to get on the central building
{
	"classname" "func_simpleladder"
	"origin" "72 810 148.1"
	"angles" "0 0 0"
	"model" "*64"
	"normal.x" "0.00"
	"normal.y" "-1.00"
	"normal.z" "0.00"
	"team" "2"
}
{
	"classname" "prop_dynamic"
	"origin" "5950 8297 6099"
	"angles" "0 0 0"
	"model" "models/props_rooftop/gutter_pipe_256.mdl"
	"solid" "0"
	"disableshadows" "1"
}
; --- Infected ladder to get on the platform by the helipad
{
	"classname" "func_simpleladder"
	"origin" "128.5 13747 -11.89"
	"angles" "0 270 0"
	"model" "*64"
	"normal.x" "-1.00"
	"normal.y" "0.00"
	"normal.z" "0.00"
	"team" "2"
}
