; =====================================================
; ==                STATIC AMMO PILES                ==
; ==          Add or modify ammo pile spawns         ==
; =====================================================
; --- Make the ammo pile before the event always spawn
modify:
{
	match:
	{
		"hammerid" "1437324"
	}
	insert:
	{
		"spawnflags" "2"
	}
}
add:
; --- Ammo pile by the gun table after the event
{
	"classname" "weapon_ammo_spawn"
	"origin" "-6631 -8573 -59"
	"angles" "0 180 0"
	"model" "models/props/terror/ammo_stack.mdl"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}


; #############  LADDER CHANGES AND FIXES  ############
; =====================================================
; ==             LADDER ADDITIONS / FIXES            ==
; ==              Add or change ladders              ==
; =====================================================
add:
; --- Infected ladder at office exit to mirror ladder on the other walkway
{
	"classname" "func_simpleladder"
	"origin" "0 -353 0"
	"angles" "0 0 0"
	"model" "*38"
	"normal.x" "-1.00"
	"normal.y" "0.00"
	"normal.z" "0.00"
	"team" "2"
}
{
	"classname" "prop_dynamic"
	"origin" "-6720 -6811 208"
	"angles" "0 270 0"
	"model" "models/props_rooftop/gutter_pipe_elbows_back.mdl"
	"solid" "0"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "-6720 -6811 208"
	"angles" "0 270 0"
	"model" "models/props_rooftop/gutter_pipe_128.mdl"
	"solid" "0"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "-6720 -6811 100"
	"angles" "0 270 0"
	"model" "models/props_rooftop/gutter_pipe_256.mdl"
	"solid" "0"
	"disableshadows" "1"
}
; --- Infected ladder to climb onto the walkway from the train in the warehouse
{
	"classname" "func_simpleladder"
	"origin" "753 -12429 110"
	"angles" "0 270 0"
	"model" "*37"
	"normal.x" "0.00"
	"normal.y" "-1.00"
	"normal.z" "0.00"
	"team" "2"
}
; --- Infected ladder to climb on other side of vent in warehouse
{
	"classname" "func_simpleladder"
	"origin" "-15413.8 -175 -260"
	"angles" "0 90 0"
	"model" "*70"
	"normal.x" "-1.00"
	"normal.y" "0.00"
	"normal.z" "0.00"
	"team" "2"
}
; --- Infected ladder to climb on lone warehouse shelf on the left
{
	"classname" "func_simpleladder"
	"origin" "-14119 -303.5 -41"
	"angles" "0 90 0"
	"model" "*38"
	"normal.x" "0.00"
	"normal.y" "-1.00"
	"normal.z" "0.00"
	"team" "2"
}
; --- Infected ladders to climb over a warehouse shelf near the forklift
{
	"classname" "func_simpleladder"
	"origin" "-1255.5 -532 -167.5"
	"angles" "0 0 0"
	"model" "*38"
	"normal.x" "-1.00"
	"normal.y" "0.00"
	"normal.z" "0.00"
	"team" "2"
}
{
	"classname" "func_simpleladder"
	"origin" "-14648.5 -13448 -167.5"
	"angles" "0 180 0"
	"model" "*38"
	"normal.x" "1.00"
	"normal.y" "0.00"
	"normal.z" "0.00"
	"team" "2"
}
; --- Infected ladder to climb up to the walkway above the forklift in the warehouse
{
	"classname" "func_simpleladder"
	"origin" "-14728.5 -13354 -8"
	"angles" "0 180 0"
	"model" "*38"
	"normal.x" "1.00"
	"normal.y" "0.00"
	"normal.z" "0.00"
	"team" "2"
}
; --- Infected ladders to climb up girders in boiler room
{
	"classname" "func_simpleladder"
	"origin" "-2037.5 285 -122"
	"angles" "0 0 0"
	"model" "*50"
	"normal.x" "-1.00"
	"normal.y" "0.00"
	"normal.z" "0.00"
	"team" "2"
}
{
	"classname" "func_simpleladder"
	"origin" "-245.5 285 -122"
	"angles" "0 0 0"
	"model" "*50"
	"normal.x" "-1.00"
	"normal.y" "0.00"
	"normal.z" "0.00"
	"team" "2"
}
; --- Infected ladders to climb up to the first set of windows at the train yard
{
	"classname" "func_simpleladder"
	"origin" "-15208 -1373.5 -34"
	"angles" "0 90 0"
	"model" "*38"
	"normal.x" "0.00"
	"normal.y" "-1.00"
	"normal.z" "0.00"
	"team" "2"
}
{
	"classname" "func_simpleladder"
	"origin" "-14696 -1373.5 -34"
	"angles" "0 90 0"
	"model" "*38"
	"normal.x" "0.00"
	"normal.y" "-1.00"
	"normal.z" "0.00"
	"team" "2"
}
; --- Clipping on ladders
{
	"classname" "env_physics_blocker"
	"origin" "-8750 -8076 39"
	"mins" "-16 -12 -134"
	"maxs" "16 12 134"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "-8238 -8076 39"
	"mins" "-16 -12 -134"
	"maxs" "16 12 134"
	"initialstate" "1"
	"BlockType" "0"
}
; --- Infected ladders to get over the fence at the back of the train yard
{
	"classname" "func_simpleladder"
	"origin" "-15611.5 -15139 -121"
	"angles" "0 180 0"
	"model" "*38"
	"normal.x" "1.00"
	"normal.y" "0.00"
	"normal.z" "0.00"
	"team" "2"
}
{
	"classname" "func_simpleladder"
	"origin" "-15611.5 -14743 -121"
	"angles" "0 180 0"
	"model" "*38"
	"normal.x" "1.00"
	"normal.y" "0.00"
	"normal.z" "0.00"
	"team" "2"
}
; --- Infected ladder to climb onto awning outside train yard
{
	"classname" "func_simpleladder"
	"origin" "-13539 -1845.5 -80"
	"angles" "0 90 0"
	"model" "*38"
	"normal.x" "0.00"
	"normal.y" "-1.00"
	"normal.z" "0.00"
	"team" "2"
}
{
	"classname" "prop_dynamic"
	"origin" "-7081 -8560 126"
	"angles" "0 0 0"
	"model" "models/props_rooftop/gutter_pipe_256.mdl"
	"solid" "0"
	"disableshadows" "1"
}
; --- Survivor ladder to climb on train in the right-side tunnel entrance from the front
{
	"classname" "func_simpleladder"
	"origin" "-391 -15390.5 -120"
	"angles" "0 270 0"
	"model" "*38"
	"normal.x" "0.00"
	"normal.y" "1.00"
	"normal.z" "0.00"
	"team" "0"
}
{
	"classname" "prop_dynamic"
	"origin" "-6849 -8664 -43"
	"angles" "0 180 0"
	"model" "models/props_vehicles/train_ladder.mdl"
	"solid" "0"
	"disableshadows" "1"
}
; --- Infected ladder to climb on other side of train car in the tunnel entrance
{
	"classname" "func_simpleladder"
	"origin" "-12450 -1547.5 -120.5"
	"angles" "0 90 0"
	"model" "*38"
	"normal.x" "0.00"
	"normal.y" "-1.00"
	"normal.z" "0.00"
	"team" "2"
}
{
	"classname" "prop_dynamic"
	"origin" "-5992 -8268 87"
	"angles" "0 0 0"
	"model" "models/props_rooftop/gutter_pipe_128.mdl"
	"solid" "0"
	"disableshadows" "1"
}
; --- Infected ladders to get onto the large pipe running along the tunnel
{
	"classname" "func_simpleladder"
	"origin" "879 -15221.5 -28"
	"angles" "0 270 0"
	"model" "*38"
	"normal.x" "0.00"
	"normal.y" "1.00"
	"normal.z" "0.00"
	"team" "2"
}
{
	"classname" "func_simpleladder"
	"origin" "1797 -15224.5 -28"
	"angles" "0 270 0"
	"model" "*38"
	"normal.x" "0.00"
	"normal.y" "1.00"
	"normal.z" "0.00"
	"team" "2"
}
; --- Infected ladder to climb into the broken roof section in the right-side tunnel
{
	"classname" "func_simpleladder"
	"origin" "-13154.5 212.5 157"
	"angles" "0 90 0"
	"model" "*49"
	"normal.x" "0.00"
	"normal.y" "-1.00"
	"normal.z" "0.00"
	"team" "2"
}
{
	"classname" "prop_dynamic"
	"origin" "-4419 -8669 174"
	"angles" "90 0 0"
	"model" "models/props_pipes/pipeset08d_128_001a.mdl"
	"solid" "6"
	"disableshadows" "1"
}
