; =====================================================
; ==                STATIC AMMO PILES                ==
; ==          Add or modify ammo pile spawns         ==
; =====================================================
; --- Make the ammo pile in the house after the saferoom always spawn
modify:
{
	match:
	{
		"hammerid" "1035182"
	}
	replace:
	{
		"spawnflags" "2"
	}
}
; --- Ammo pile by the fire barrel
add:
{
	"classname" "weapon_ammo_spawn"
	"origin" "5318 -925 -31"
	"angles" "0 0 -7"
	"model" "models/props/terror/ammo_stack.mdl"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}


; #############  LADDER CHANGES AND FIXES  ############
; =====================================================
; ==             LADDER ADDITIONS / FIXES            ==
; ==              Add or change ladders              ==
; =====================================================
add:
; --- Infected ladder to prevent a perma-stuck spot behind the saferoom
{
	"classname" "func_simpleladder"
	"origin" "-2216.5 6044 -8"
	"angles" "0 270 0"
	"model" "*32"
	"normal.x" "-1.00"
	"normal.y" "0.00"
	"normal.z" "0.00"
	"team" "2"
}
; --- Infected ladder to climb onto the picnic house roof from the back
{
	"classname" "func_simpleladder"
	"origin" "7586 -7273.49 20.5"
	"angles" "0 180 0"
	"model" "*151"
	"normal.x" "0.00"
	"normal.y" "1.00"
	"normal.z" "0.00"
	"team" "2"
}
{
	"classname" "prop_dynamic"
	"origin" "3320 -2588 234"
	"angles" "0 180 0"
	"model" "models/props_rooftop/gutter_pipe_256.mdl"
	"solid" "0"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "3320 -2588 -22"
	"angles" "0 180 0"
	"model" "models/props_rooftop/gutter_pipe_256.mdl"
	"solid" "0"
	"disableshadows" "1"
}
; --- Infected ladders to climb onto the docks
{
	"classname" "func_simpleladder"
	"origin" "6828.5 -1345 -192.5"
	"angles" "0 270 0"
	"model" "*162"
	"normal.x" "1.00"
	"normal.y" "0.00"
	"normal.z" "0.00"
	"team" "2"
}
{
	"classname" "func_simpleladder"
	"origin" "6173 -9097.5 -121"
	"angles" "0 180 0"
	"model" "*162"
	"normal.x" "0.00"
	"normal.y" "-1.00"
	"normal.z" "0.00"
	"team" "2"
}
; --- Infected ladder to climb on the light pole at the docks
{
	"classname" "func_simpleladder"
	"origin" "6677 -9609.5 -144"
	"angles" "0 180 0"
	"model" "*151"
	"normal.x" "0.00"
	"normal.y" "1.00"
	"normal.z" "0.00"
	"team" "2"
}
